<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <!--button dùng để hiển thị menu khi màn hình bị thu nhỏ-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="#collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store">STORE</a>
        </li>
      </ul>
    </div>
  </nav>
</header> <!-- header-->
<!--Header-->
<!--Banner-->
<div class="container-fluit" id="banner">
  <div class="container text-center">
    <h4>HCMUS-EC-20A09</h4>
    <div>
      <P class="text-white">COFFEE BUSINESS</P>
    </div>
  </div>
</div>
<!--Banner-->