<!--about us-->
  <div class="container-fluit" id="about-us">
    <div class="container text-center">
      <div id="about-us-background">
        <div></div>
        <form action="post">
          <h2>
            About us
          </h2>
          <p>
            Được thành lập năm 2020 bởi đội ngũ của "HCMUS-EC-20A09", (gồm 5 thành viên). Chúng tôi phục vụ khách hàng
            dựa trên cơ sở cà phê sạch
            có nguồn gốc từ các khu vực khác nhau của Nam và Trung Mỹ. Chúng tôi đã đi khắp nơi trên thế giới,tìm ra
            loại cà phê tốt nhất
            để phục vụ cho các bạn. Chúng tôi tin rằng nữa một khi bạn đã uống thử một ngụm cà phê của chúng tôi,
            bạn sẽ trở lại Fresh-Coffee một lần
          </p>
          <p>
            Có thể bạn chưa biết những công dụng tuyệt vời mà cà phê mang lại (Cà phê có thể giúp tăng năng lượng và làm
            bạn thông minh hơn, đốt cháy mỡ thừa
            cải thiện hoạt động thể chất, chưa chất chống oxi hóa,...) vì vậy hãy để cà phê trở thành thói quen hằng
            ngày của bạn, hãy để Fresh-Coffe trở thành người bạn đồng hành đáng tin cậy nhất của bạn
          </p>
        </form>
      </div>
    </div>
  </div>
  <!--about us-->
  <!--background giữa-->
  <div id="background-section">

  </div>
  <!--Member-->
  <div class="member">
    <div class="container">
      <h3>Member</h3>
      <div class="row" id="member01">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img src="img/1712415.png" alt="" class="img-thumbnail">
          <h4>
            Nguyễn Thị Ngọc Hân
          </h4>
          <p>MSSV:1712415</p>
          <P>Giới tính: Nữ</P>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img src="img/1712452.jpg" alt="" class="img-thumbnail">
          <h4>
            Lê Hận Thương Hoài
          </h4>
          <p>MSSV:1712452</p>
          <P>Giới tính: Nữ</P>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img src="img/1712757.png" alt="" class="img-thumbnail">
          <h4>
            Nguyễn Trọng Thắng
          </h4>
          <p>MSSV:1712757</p>
          <P>Giới tính: Nam</P>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img src="img/member.jpg" alt="" class="img-thumbnail">
          <h4>
            Mang Viên Triệu
          </h4>
          <p>MSSV:1712837</p>
          <P>Giới tính: Nam</P>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <img src="img/1712895.jpg" alt="" class="img-thumbnail">
          <h4>
            Trần Thị Diễm Uyên
          </h4>
          <p>MSSV:1712895</p>
          <P>Giới tính: Nữ</P>
        </div>
      </div>
    </div>
    <!--Member-->