  <!--section-->
  <section class="page-section clearfix">
    <div class="container ">
      <div class="intro">
        <img class="intro-text left-0 text-center bg-faded p-5 rounded col-sm-12 col-md-8 col-lg-8" src="img/intro.jpg"
          alt="" id="image-freshcoffee">
        <form action="post" id="fresh-coffee">
          <h2>
            <div class="section-heading-upper">Fresh Coffee</div>
          </h2>
          <h4>
            <div class="section-heading-lower">“thưởng thức & suy ngẫm"</div>
          </h4>
          <div>
            <p class="mb-3">Cà phê là loại thức uống dễ gây nghiện bởi vị đắng đầu lưỡi và hậu ngọt nơi cuống họng,
              giống
              như cuộc đời con người, sau những lần vấp ngã đau đớn sẽ đứng lên mạnh mẽ hơn trước.
            </p>
            <p class="mb-3">
              Cuộc sống bộn bề mọi lo toan, suy tính khiến chúng ta bỏ qua những cơ hội ngoảnh lại để nhìn nhận sự việc.
              Hãy dành ra một chút thời
              gian ngồi lại để nhâm nhi một tách cà phê, ngẫm về người và ngẫm lại chính mình!
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--background giữa-->
  <div id="background-section">

  </div>
  <div id="section-01">
    <div class="container">
      <form action="post">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
              </h2>
              <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with
                friendly service,
                a welcoming atmosphere, and above all else, excellent products made with the highest quality
                ingredients.
                If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--section-->