  <!--Banner-->
  <!--section-->
  <section class="page-section cta">
    <div class="container" id="time-open">
      <div id="formsection-background">
        <!--bò trống để cách form-->
      </div>
      <form action="post" id="formsection-01">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper" id="come-on">COME ON IN</span>
              </br >
                <span class="section-heading-lower" id="comeon-open">WE'RE OPEN</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sunday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex">
                  Monday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex">
                  Tuesday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex">
                  Wednesday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex">
                  Thursday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex">
                  Friday
                  <span class="ml-auto">7:00 AM to 10:00 PM</span>
                </li></br >
                <li class="list-unstyled-item list-hours-item d-flex" id="saturday">
                  Saturday
                  <span class="ml-auto">7:00 AM to 11:30 PM</span>
                </li></br >
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>227 Nguyễn Văn Cừ</strong>
                  <br>
                  Quận 5, TP Hồ Chí Minh
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Call Anytime</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </form>
      <div class="container" id="formsection-02">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2>
                  FRESH-COFFE
                </h2>
                <P>
                  Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
                </P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section-->